<h1>Flipper</h1>
<p>Welcome to Flipper</p>


<form action="/" method="post">

	<input type="text" name="text" placeholder="Enter text here..."></input>
	<input type="submit" value="Submit"></input>	

	{{enteredText}}	
	{{flippedText}}

	

</form>
