<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

    <link rel="stylesheet" href="/fonts/font.css" type="text/css" charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="container">

	  	<div class="row">
	  	  <div class="twelve columns">
  				<h1 class="main-title">Flipper</h1>
  				<img class="triangle-logo" src="/images/triangleWhite.png">
  				
	  	  </div>
	  	  
	  	</div>



    	{{{body}}}
	  	<div class="row">
	  	  <div class="twelve columns">
	  	  	 	  	<p>footer here</p>
	  	  </div>
	  	  
	  	</div>

    </div>

  </body>
</html>
