<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

    <link rel="stylesheet" href="/fonts/font.css" type="text/css" charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="container">
      <nav class="navbar"> 
        <div class="container">
          <ul class="navbar-list">
              <li class="navbar-item">
                <a class="navbar-link" href="#about">About</a>
              </li>
              <li class="navbar-item">
                <a class="navbar-link" href="#flip-text">Flip Text</a>
              </li>
              <li class="navbar-item">
                <a class="navbar-link" href="#flip-twitter">Flip Twitter</a>
              </li>


          </ul>
        </div>
      </nav>


      </navbar>

	  	<div class="row">
	  	  <div class="twelve columns">
  				<h1 class="main-title">Flipper</h1>
  				<img class="triangle-logo" src="/images/triangleWhite.png">
  		  </div>
	  	  
	  	</div>



    	{{{body}}}


      
	  	<footer class="site-footer">
	  		<p>
	  			Created by <a href="https://github.com/Lau-Ren">Lauren</a> 
	  		</p>

	  	</footer>
    </div>

    
	  


  </body>
</html>
