/*
really nice stylesheet, but I would try to organise it slightly better
maybe make a quick reference index at the top, to make it explicit how the styles apply
to the layout of the page
*/

/*
  ** Example Contents

  - page wide styles
  - name bar
  - heading specific
  - flip box specific
  - desktop specfic

*/


body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(34, 147, 32);
  color: rgb(250, 250, 250);
  text-align: center;
  font-family: 'BEBAS';
}

h1 {
  font-size: 80px;
}

#flip-text > input[type="submit"]:nth-child(2),
#get-user > input[type="submit"]:nth-child(2),
a {
  color: rgb(250, 250, 250);
}

/*
try and have DRY css, so list elements that have excatly the same properties.
Alternatively, everything you want to have this as the color, you could give as '.base-color'
class

you could also use sass in here, so you can set this colour as a variable to
dry up this code further*/


.section-heading{
  color: rgb(250, 250, 250);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 100px;
}


#about-content {
  color: rgb(250, 250, 250);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#twitter-handle{
  color:rgb(15, 14, 14);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
#text-to-flip{
  color:rgb(15, 14, 14);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
.navbar{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 100px;
	width: 100%;
	height: 6.5rem;
	z-index: 99;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.navbar-list{
  justify-content: center;
  align-items: center;
  display: flex;

  list-style: none;
  margin-bottom: 0;
}

.navbar-item{
	position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {

	text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  /*color: #222;*/
}



.triangle-logo {
	min-width: 300px;
	width: 50%;


}

.main-title{
	margin: 0;

}

#twitter-flipper textarea {
	color: rgb(15, 14, 14);

}*/
#input-field\20{
	color: rgb(34, 147, 32);
}


body > div > div:nth-child(2) > div > form > input[type="submit"]:nth-child(2){

	color: rgb(250, 250, 250);
}

#twitter-flipper > div > img{
 border-radius: 100px;

}



footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;

	padding: 10px;
}

#text-box{
  display: flex;
  justify-content:center ;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

#twitter-box{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

#text-box  .flip-img {
  max-width: 50px;
}

.original {
  border: solid;
  height: 250px;
  width: 250px;

  display: flex;

  justify-content:center ;
  align-items: center;
  background-color: rgb(15, 14, 14);
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.flipped {
  border: dashed;
  height: 250px;
  width: 250px;

  display: flex;

  justify-content:center ;
  align-items: center;
  background-color: rgb(250, 250, 250);
  color: rgb(15, 14, 14);
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

#twitter-box > input{
  margin-top: 0px;
}

#twitter-box > input[type="submit"] {
  color:rgb(250, 250, 250);
  flex-wrap: wrap;


}

.retweet-link{
    position:relative;

  }



/* Larger than mobile */


@media (min-width: 410px) {

  .retweet-link{
    position:absolute;
    margin-top: 20px;

  }

  #twitter-box > input[type="submit"] {
    color:rgb(250, 250, 250);
    flex-wrap: wrap;
    position: absolute;

  }
  .flip-img {
    display: none;
  }

  .original {
    margin:10px;
  }
  .flipped {
    margin:10px;

  }
  #twitter-box{
    display: flex;
    max-width: 717px;
    justify-content:center;
    align-items: center;
  }


	.triangle-logo {
		max-width: 200px;

	}

	.navbar{
		display: flex;

    justify-content: center;
    align-items: center;

		width: 100%;
		height: 6.5rem;
		z-index: 99;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;

	}
  .navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    margin-bottom: 0;
	}

	.navbar-item{
		position: relative;
    float: left;
    margin-bottom: 0;
	}

	.navbar-link {

		text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    /*color: #222;*/
	}
  #twitter-box > input{
    margin-top: 20px;
  }

}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}