@font-face{ 
	font-family: 'BEBAS';
	src: url('BEBAS___.eot');
	src: url('BEBAS___.eot?#iefix') format('embedded-opentype'),
	     url('BEBAS___.woff') format('woff'),
	     url('BEBAS___.ttf') format('truetype'),
	     url('BEBAS___.svg#webfont') format('svg');
}